/*Global*/




/*Homepage*/

#content {
	text-align: center;
	padding-top: 30%;
}




h1, h3 {
	color: white;
	text-shadow: 0px 4px 3px rgba(0,0,0,0,4),
				0px 8px 13px rgba(0,0,0,0,4),
				0px 18px 23px rgba(0,0,0,0,1),

}

h1 {
	font-size: 5em;
	font-weight: bold;
}


hr.style-five {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}
hr.style-five:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

hr {
	width: 600px;
	color: white;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #f8f8f8;
}

/*showcase*/
#showcase {
	background: url('images/cat.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}


/*Login Page*/
#login-section-2 {
	padding-top: 20%;
	color: white;	
	background: url('images/cat2.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family: 'Playfair Display', serif;
	height: 100vh;
}

small#emailHelp {
	color: grey;
}

/*Sign up*/



/*Carousel*/


/*global*/
.carousel-inner {
	height: 100vh;

}

/*Carousel-1*/
#carousel-1 {
	position: absolute;
    text-align: left;
    top: 15%;
    margin-left: 5%;
    width: 50%;

   
}


#carousel-1 h5 {
	font-size: 2em;
	
}

/*Carousel-2*/


#carousel-2 {
	position: absolute;
    text-align: right;
   	top: 10%;
    margin-left: 25%;
    width: 50%;
   
}


#carousel-2 h5 {
	font-size: 2em;
	
}


/*Carousel-3*/

#carousel-3 {
	position: absolute;
    text-align: center;
   	top: 10%;
    margin-left: 10%;
    width: 50%;
   
}


#carousel-3 h5 {
	font-size: 2em;
	
}














